@font-face {
  font-family: opensans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensansbold, Arial, Helvetica, sans-serif;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 50%;
}

body {
  margin: 0;
}

.header_page {
  background-color: #171b3d;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/football_1920.jpg");
}

.header_page::after {
  content: "";
  background-color: #212449;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
}

.header-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.title_surface {
  fill: #fff;
}
.title_text {
  font-family: opensansbold, Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
}

.title_page {
  color: #fff;
  margin: 0;
}

.tagline_page {
  color: #fff;
  margin: 0;
}

.download_bottons {
  display: flex;
  justify-content: space-between;
}

.download_botton {
  background-color: #5e42b0;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-family: opensans, Arial, Helvetica, sans-serif;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
}

.logo {
  fill: #fff;
}

.link_text {
  align-items: center;
  display: flex;
}

.text_load {
  margin: 0;
}

.title_platform {
  font-weight: 700;
  margin: 0;
}

.article_header {
  color: #e7e7e7;
  text-transform: uppercase;
  font-family: opensansbold, Arial, Helvetica, sans-serif;
}

.athlets {
  position: relative;
}

.players {
  position: relative;
}

.article_conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header_block {
  font-family: opensansbold, Arial, "Helvetica Neue", sans-serif;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
}

.number_conteiner {
  margin: 0;
  font-family: opensansbold, Arial, "Helvetica Neue", sans-serif;
}

.number_conteiner::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #5e42b0;
}

.growth::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #efefef;
}

.players > .article_conteiner > .header_block > .growth {
  color: #8765dd;
}

.header_conteiner {
  color: #c1c1c1;
  margin: 0;
}

.text_conteiner {
  margin-top: 0;
  margin-bottom: 0;
  font-family: opensans, Arial, Helvetica, sans-serif;
}

.unique_color {
  color: #ffffff;
}
.athlets::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.players::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.image_container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.other_header {
  color: #e7e7e7;
  text-transform: uppercase;
  font-family: opensansbold, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.number_other_article_container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  background-color: #5e42b0;
  justify-content: center;
  align-items: center;
}

.number_other_article {
  color: #f5f6f7;
  font-family: opensansbold, Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
}

.number_other_article::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.3;
}

.text_other_container {
  font-family: opensans, Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #171b3d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

.footer::after {
  content: "";
  background-color: #212449;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  position: relative;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.logo_container_footer {
  background-color: #5335a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_footer {
  fill: #fff;
}

.text_footer {
  text-transform: uppercase;
  font-family: opensansbold Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer_header {
  color: #fff;
  margin: 0;
}

.footer_title {
  margin: 0;
  color: #9b8ec1;
}

.download_bottons_footer {
  display: flex;
  justify-content: space-between;
}

.download_botton_footer {
  background-color: #5e42b0;
  display: flex;
  color: #fff;
  text-transform: uppercase;
  font-family: opensans, Arial, Helvetica, sans-serif;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
}

.title_surface_footer {
  fill: #fff;
}

@media (max-width: 640px) {
  .header-wrapper {
    height: 100vh;
  }
  .header_page {
    background-image: url("../images/football_767.jpg");
    height: 100vh;
  }

  .title_surface {
    width: 41.6vw;
    margin-top: 6.8vh;
  }
  .title_text {
    width: 80.6vw;
  }

  .title_page {
    font-size: 8.75vw;
    height: 5.8vh;
  }

  .tagline_page {
    font-size: 8.75vw;
    margin-left: 12.5vw;
  }

  .download_bottons {
    flex-wrap: wrap;
    flex-direction: column;
    height: 18%;
    width: 87.5vw;
    margin-bottom: 17.5vh;
  }

  .download_botton {
    border-radius: 5vh;
    height: 7.3vh;
  }

  .logo {
    width: 8.25vw;
    margin-right: 3.125vw;
  }

  .link_text {
    width: 30vw;
  }

  .text_load {
    margin: 0;
    font-size: 2.5vw;
  }

  .title_platform {
    font-size: 2.5vw;
  }

  .article_header {
    font-size: 15.625vw;
    margin-left: 6.56vw;
    height: 51vh;
    margin-top: 5.2vh;
  }

  .athlets::before {
    background-image: url("../images/footballer_192.png");
    height: 58.5vh;
    width: 60vw;
    left: 22vw;
    top: 14.4vh;
  }

  .players::before {
    background-image: url("../images/basketballer_302.png");
    height: 51.7vh;
    width: 99vw;
    top: 12vh;
  }

  .article_conteiner {
    justify-content: center;
  }

  .athlets > .article_conteiner:nth-of-type(1) {
    height: 44.4vh;
    background-color: #fafafa;
  }

  .athlets > .article_conteiner:nth-of-type(2) {
    height: 55vh;
    background-color: #f5f4f9;
  }

  .athlets > .article_conteiner:nth-of-type(3) {
    height: 47.5vh;
    background-color: #5e42b0;
  }
  .players > .article_conteiner:nth-of-type(1) {
    height: 52.3vh;
    background-color: #fafafa;
  }

  .players > .article_conteiner:nth-of-type(2) {
    height: 40vh;
    background-color: #f5f4f9;
  }

  .players > .article_conteiner:nth-of-type(3) {
    height: 39.375vh;
    background-color: #090c35;
  }

  .header_block {
    margin-left: 6.56vw;
    margin-bottom: 5.625vh;
  }

  .number_conteiner {
    margin-right: 2.5vw;
    font-size: 4.375vw;
  }

  .number_conteiner::after {
    height: 0.8vh;
    border-radius: 0.4167vh;
  }

  .growth::after {
    height: 0.8vh;
    border-radius: 0.625vh;
  }

  .header_conteiner {
    font-size: 7.1875vw;
    letter-spacing: 0.36vw;
  }

  .text_conteiner {
    font-size: 4.6875vw;
    margin-left: 6.56vw;
  }

  .players > .article_conteiner > .unique_color {
    color: #ffffff;
  }

  .image_container {
    height: 73vh;
  }

  .be_active > .image_container {
    background-image: url("../images/be-active_640.jpg");
  }

  .find_contact > .image_container {
    background-image: url("../images/find-contact_640.jpg");
  }

  .work_it > .image_container {
    background-image: url("../images/work-it_640.jpg");
  }

  .other_header {
    font-size: 8.75vw;
    margin-left: 6.56vw;
    margin-top: -5vh;
    margin-bottom: 0;
  }

  .number_other_article_container {
    height: 14.6vh;
    width: 14.6vh;
    left: 6.56vw;
    top: -12.1vh;
  }

  .number_other_article {
    font-size: 4.375vw;
  }

  .number_other_article::after {
    height: 0.8vh;
    border-radius: 0.4vh;
  }
  .text_other_container {
    font-size: 5vw;
    margin-left: 6.56vw;
    margin-bottom: 16.041vh;
  }

  .footer {
    background-image: url("../images/game_767.jpg");
  }

  .footer-wrapper {
    justify-content: space-between;
  }

  .footer_contanier_head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 56.047vh;
    align-items: center;
  }

  .logo_container_footer {
    border-radius: 3.3vh;
    width: 15vh;
    height: 15.4vh;
    margin-top: 20.833vh;
  }

  .logo_footer {
    fill: #fff;
    padding: 2vh;
    width: 13vh;
  }

  .text_footer {
    width: 87.5vw;
  }

  .footer_header {
    font-size: 10vw;
  }

  .footer_title {
    font-size: 4.4vw;
  }

  .download_bottons_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 18%;
    width: 87.5vw;
    justify-content: space-between;
  }

  .download_botton_footer {
    border-radius: 5vh;
    height: 7.3vh;
  }

  .title_surface_footer {
    width: 41.6vw;
    margin-bottom: 2.1vh;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .header-wrapper {
    height: 100vh;
  }

  .header_page {
    background-image: url("../images/football_1280.jpg");
    height: 100vh;
  }

  .title_surface {
    width: 27.69vw;
    margin-top: 4.17vh;
  }
  .title_text {
    width: 77.21vw;
  }
  .title_page {
    font-size: 8.33vw;
    height: 5.8vh;
  }
  .tagline_page {
    font-size: 8.33vw;
    margin-left: 13.2vw;
  }

  .download_bottons {
    flex-wrap: nowrap;
    margin-bottom: 9.48vh;
    height: 8vh;
    width: 84.9vw;
  }

  .download_botton {
    justify-content: center;
    border-radius: 5vh;
    width: 40.5vw;
  }

  .logo {
    width: 5.8vw;
    margin-right: 3.65vw;
  }

  .link_text {
    width: 19vw;
  }

  .text_load {
    margin: 0;
    font-size: 1.823vw;
  }

  .title_platform {
    font-size: 1.823vw;
  }

  .article_header {
    font-size: 10.42vw;
    margin-bottom: 0;
  }

  .athlets::before {
    background-image: url("../images/footballer_497.png");
    height: 72.8125vh;
    width: 64.7135vw;
    left: -17.09375vh;
    top: 3vh;
  }

  .players::before {
    background-image: url("../images/basketballer_436.png");
    height: 58.854vh;
    width: 56.77vw;
    top: 0;
    right: 0;
  }

  .athlets > .article_header {
    margin-left: 38.021vw;
  }

  .players > .article_header {
    margin-left: 4.1667vw;
  }

  .article_conteiner {
    padding-top: 4.583vh;
    box-sizing: border-box;
  }

  .athlets > .article_conteiner {
    padding-left: 38.021vw;
  }

  .players > .article_conteiner {
    padding-left: 4.1667vw;
  }

  .athlets > .article_conteiner:nth-of-type(1) {
    height: 20.625vh;
    background-color: #fff;
  }

  .athlets > .article_conteiner:nth-of-type(2) {
    height: 24.479vh;
    background-color: #f5f4f9;
  }

  .athlets > .article_conteiner:nth-of-type(3) {
    height: 18.75vh;
    background-color: #5e42b0;
  }
  .players > .article_conteiner:nth-of-type(1) {
    height: 20.625vh;
    background-color: #fff;
  }

  .players > .article_conteiner:nth-of-type(2) {
    height: 18.854vh;
    background-color: #f5f4f9;
  }

  .players > .article_conteiner:nth-of-type(3) {
    height: 18.854vh;
    background-color: #090c35;
  }

  .number_conteiner {
    margin-right: 1.3021vw;
    font-size: 2.34375vw;
  }

  .number_conteiner::after {
    height: 0.521vh;
    border-radius: 0.208vh;
  }

  .growth::after {
    height: 0.521vh;
    border-radius: 0.208vh;
  }

  .header_conteiner {
    font-size: 4.1667vw;
    letter-spacing: 0.208vw;
    margin-bottom: 3.2292vh;
  }

  .text_conteiner {
    font-size: 2.0833vw;
  }

  .athlets > .article_conteiner > .text_conteiner {
    width: 56.25vw;
  }

  .players > .article_conteiner > .text_conteiner {
    width: 50.78125vw;
  }

  .players > .article_conteiner > .unique_color {
    width: 55.599vw;
    font-size: 2.34375vw;
  }

  .image_container {
    height: 60.833vh;
  }

  .be_active > .image_container {
    background-image: url("../images/be-active_960.jpg");
  }

  .find_contact > .image_container {
    background-image: url("../images/find-contact_960.jpg");
  }

  .work_it > .image_container {
    background-image: url("../images/work-it_960.jpg");
  }
  .other_header {
    font-size: 10.4167vw;
    margin-left: 4.1667vw;
    margin-top: -2.7083vh;
    margin-bottom: 0;
  }

  .number_other_article_container {
    height: 12.8333vh;
    width: 12.8333vh;
    left: 4.1667vw;
    top: -8.3333vh;
  }

  .number_other_article {
    font-size: 3.125vw;
  }

  .number_other_article::after {
    height: 0.5208vh;
    border-radius: 0.2083vh;
  }

  .text_other_container {
    font-size: 3.125vw;
    margin-left: 4.1667vw;
    margin-bottom: 10.1041vh;
    width: 83.15vw;
  }

  .footer-wrapper {
    justify-content: space-between;
  }

  .footer {
    background-image: url("../images/game_1280.jpg");
  }

  .footer_contanier_head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48.02vh;
    align-items: center;
  }

  .logo_container_footer {
    border-radius: 2.7vh;
    width: 13.5416vh;
    height: 14.2708vh;
    margin-top: 13.125vh;
  }

  .logo_footer {
    fill: #fff;
    padding: 2vh;
    width: 11vh;
  }

  .text_footer {
    width: 94.5365vw;
  }

  .footer_header {
    font-size: 10.4167vw;
    letter-spacing: 0.6315vw;
  }

  .footer_title {
    font-size: 4.6875vw;
  }

  .download_bottons_footer {
    height: 8%;
    width: 84.8958vw;
  }

  .download_botton_footer {
    justify-content: center;
    border-radius: 5vh;
    width: 40.5vw;
  }

  .title_surface_footer {
    width: 26.6927vw;
    margin-bottom: 2.5vh;
  }
}

@media (min-width: 961px) {
  .header_page {
    background-image: url("../images/football_1920.jpg");
    height: 50vw;
  }
  .header-wrapper {
    height: 50vw;
  }

  .header_page::after {
    height: 50vw;
  }

  .title_surface {
    width: 10vw;
    margin-top: 2.34375vw;
  }

  .title_text {
    width: 79.6354vw;
  }
  .title_page {
    font-size: 4.6875vw;
  }

  .tagline_page {
    font-size: 4.6875vw;
    margin-left: 23vw;
  }

  .download_bottons {
    width: 35vw;
    margin-bottom: 5.7292vw;
  }

  .download_botton {
    border-radius: 2vw;
    width: 16.1979vw;
    height: 4.0104vw;
  }

  .logo {
    width: 2.1875vw;
    margin-right: 1.302vw;
  }

  .link_text {
    width: 7.552vw;
  }

  .text_load {
    margin: 0;
    font-size: 0.729vw;
  }

  .title_platform {
    font-size: 0.729vw;
  }

  .article_header {
    font-size: 4.167vw;
    margin-bottom: 0;
    margin-top: 5.99vw;
  }

  .athlets > .article_header {
    margin-left: 52.447vw;
  }

  .players > .article_header {
    margin-left: 10.26vw;
  }

  .athlets::before {
    background-image: url("../images/footballer_566.png");
    height: 47.292vw;
    width: 29.479vw;
    top: -4.583vw;
    left: 20.677vw;
  }

  .players::before {
    background-image: url("../images/basketballer_991.png");
    height: 42.4479vw;
    width: 51.615vw;
    top: -4.583vw;
    right: 6.51vw;
  }

  .article_conteiner {
    padding-top: 3.125vw;
    box-sizing: border-box;
  }

  .athlets > .article_conteiner {
    padding-left: 52.447vw;
  }

  .players > .article_conteiner {
    padding-left: 10.26vw;
  }

  .athlets > .article_conteiner:nth-of-type(1) {
    height: 12.5vw;
    background-color: #fff;
  }

  .athlets > .article_conteiner:nth-of-type(2) {
    height: 13.02vw;
    background-color: #f5f4f9;
  }

  .athlets > .article_conteiner:nth-of-type(3) {
    height: 11.5625vw;
    background-color: #5e42b0;
  }
  .players > .article_conteiner:nth-of-type(1) {
    height: 11.979vw;
    background-color: #fff;
  }

  .players > .article_conteiner:nth-of-type(2) {
    height: 11.979vw;
    background-color: #f5f4f9;
  }

  .players > .article_conteiner:nth-of-type(3) {
    height: 10.208vw;
    background-color: #0a0e34;
  }

  .number_conteiner {
    margin-right: 0.7292vw;
    font-size: 0.9375vw;
  }

  .number_conteiner::after {
    height: 0.26vw;
    border-radius: 0.104vw;
  }

  .growth::after {
    height: 0.26vw;
    border-radius: 0.104vw;
  }

  .header_conteiner {
    font-size: 1.875vw;
    letter-spacing: 0.094vw;
    margin-bottom: 1.615vw;
  }

  .text_conteiner {
    font-size: 1.042vw;
  }

  .players > .article_conteiner > .text_conteiner {
    width: 36.979vw;
  }

  .players > .article_conteiner > .unique_color {
    width: 38.594vw;
  }

  .other_article {
    display: flex;
    flex-wrap: nowrap;
  }

  .other_article:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .image_container {
    width: 50vw;
    height: 38.021vw;
  }

  .be_active > .image_container {
    background-image: url("../images/be-active_1024.jpg");
  }

  .find_contact > .image_container {
    background-image: url("../images/find-contact_1024.jpg");
  }

  .work_it > .image_container {
    background-image: url("../images/work-it_1024.jpg");
  }

  .container_other_content {
    width: 50vw;
  }

  .other_header {
    font-size: 4.167vw;
    margin-left: 6.667vw;
    margin-bottom: 6.042vw;
    margin-top: 0;
  }

  .find_contact > .other_header {
    margin-left: 10vw;
    margin-bottom: 6.042vw;
  }

  .number_other_article_container {
    height: 8.75vw;
    width: 8.75vw;
    top: 11.094vw;
  }

  .be_active > .container_other_content > .number_other_article_container {
    left: -4.375vw;
  }

  .work_it > .container_other_content > .number_other_article_container {
    left: -4.375vw;
  }

  .find_contact > .container_other_content > .number_other_article_container {
    left: 45.625vw;
  }

  .number_other_article {
    font-size: 1.25vw;
  }

  .number_other_article::after {
    height: 0.26vw;
    border-radius: 0.104vw;
  }

  .text_other_container {
    font-size: 1.25vw;
    margin-left: 6.667vw;
    width: 32.812vw;
    margin-bottom: 0;
    margin-top: 0;
  }

  .find_contact > .text_other_container {
    font-size: 1.25vw;
    margin-left: 10vw;
    margin-bottom: 0;
  }

  .footer {
    background-image: url("../images/game_1920.jpg");
    height: 50vw;
  }

  .footer_contanier_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26.927vw;
  }

  .footer-wrapper {
    height: 50vw;
    justify-content: space-between;
  }

  .logo_container_footer {
    border-radius: 1.85vw;
    width: 6.771vw;
    height: 7.135vw;
    margin-right: 1.927vw;
  }

  .logo_footer {
    fill: #fff;
    padding: 1vw;
    width: 5vw;
  }

  .text_footer {
    width: 37.406vw;
  }

  .footer_header {
    font-size: 4.167vw;
    letter-spacing: 0.23vw;
  }

  .footer_title {
    font-size: 1.56vw;
    text-align: left;
  }

  .download_bottons_footer {
    width: 35vw;
    margin-bottom: 5.7292vw;
  }

  .download_botton_footer {
    justify-content: center;
    border-radius: 2vw;
    width: 16.1979vw;
    height: 4.0104vw;
  }

  .title_surface_footer {
    width: 10vw;
    margin-bottom: 2.5vh;
  }
}
