@font-face {
  font-family: opensans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: opensansbold, Arial, Helvetica, sans-serif;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 50%;
}

body {
  margin: 0;
}

.header_page {
  background-color: #171b3d;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.header_page::after {
  content: "";
  background-color: #212449;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.9;
}

@media (max-width: 640px) {
  .header_page {
    background-image: url("../images/football_767.jpg");
  }

  .header_page::after {
    content: "";
    background-color: #212449;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
  }

  .header-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;
  }

  .title_surface {
    fill: #fff;
    width: 41.6vw;
    margin-top: 6.8vh;
  }

  .title_text {
    font-family: opensansbold, Arial, Helvetica, sans-serif;
    width: 80.6vw;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
  }

  .title_page {
    color: #fff;
    font-size: 8.75vw;
    height: 3.5rem;
  }

  .tagline_page {
    color: #fff;
    font-size: 8.75vw;
    margin: 0;
    margin-left: 5rem;
  }

  .download_bottons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 18%;
    width: 87.5vw;
    justify-content: space-between;
    margin-bottom: 17.5vh;
  }

  .download_botton {
    background-color: #5e42b0;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-family: opensans, Arial, Helvetica, sans-serif;
    justify-content: center;
    border-radius: 5vh;
    height: 7.3vh;
    text-decoration: none;
    font-style: normal;
  }

  .logo {
    width: 8.25vw;
    fill: #fff;
    margin-right: 3.125vw;
  }

  .link_text {
    align-items: center;
    width: 30vw;
    display: flex;
  }

  .text_load {
    margin: 0;
    font-size: 1.67vh;
  }

  .title_platform {
    font-weight: 700;
    margin: 0;
    font-size: 1.67vh;
  }

  .athlets {
    position: relative;
  }

  .article_header {
    color: #e7e7e7;
    text-transform: uppercase;
    font-family: opensansbold, Arial, Helvetica, sans-serif;
    font-size: 10.4vh;
    margin-left: 6.56vw;
    height: 51vh;
    margin-top: 5.2vh;
  }

  .athlets::before {
    content: "";
    position: absolute;
    background-image: url("../images/footballer_497.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 58.5vh;
    width: 60vw;
    left: 22vw;
    top: 14.4vh;
  }

  .players {
    position: relative;
  }

  .players::before {
    content: "";
    position: absolute;
    background-image: url("../images/basketballer_302.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 51.7vh;
    width: 99vw;
    top: 12vh;
  }

  .article_conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .athlets > .article_conteiner:nth-of-type(1) {
    height: 44.4vh;
    background-color: #fafafa;
  }

  .athlets > .article_conteiner:nth-of-type(2) {
    height: 55vh;
    background-color: #f5f4f9;
  }

  .athlets > .article_conteiner:nth-of-type(3) {
    height: 47.5vh;
    background-color: #5e42b0;
  }
  .players > .article_conteiner:nth-of-type(1) {
    height: 52.3vh;
    background-color: #fafafa;
  }

  .players > .article_conteiner:nth-of-type(2) {
    height: 40vh;
    background-color: #f5f4f9;
  }

  .players > .article_conteiner:nth-of-type(3) {
    height: 39.4vh;
    background-color: #5e42b0;
  }

  .players > .article_conteiner:nth-of-type(3) {
    background-color: #090c35;
  }

  .header_block {
    font-family: opensansbold, Arial, "Helvetica Neue", sans-serif;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 6.56vw;
    margin-bottom: 2rem;
  }

  .number_conteiner {
    margin: 0;
    margin-right: 2.5vw;
    font-size: 2.92vh;
    font-family: opensansbold, Arial, "Helvetica Neue", sans-serif;
  }

  .number_conteiner::after {
    content: "";
    display: block;
    height: 0.8vh;
    width: 100%;
    background-color: #5e42b0;
    border-radius: 0.25rem;
  }

  .players > .article_conteiner > .header_block > .growth {
    color: #8765dd;
  }

  .growth::after {
    content: "";
    display: block;
    height: 0.8vh;
    width: 100%;
    background-color: #fff;
    border-radius: 0.625vh;
  }

  .header_conteiner {
    font-size: 4.8vh;
    color: #c1c1c1;
    margin: 0;
    letter-spacing: 0.36vw;
  }

  .text_conteiner {
    font-size: 3vh;
    margin-left: 6.56vw;
    margin-top: 0;
    margin-bottom: 0;
    font-family: opensans, Arial, Helvetica, sans-serif;
  }

  .players > .article_conteiner > .unique_color {
    color: #ffffff;
  }

  .image_container {
    height: 73vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .be_active > .image_container {
    background-image: url("../images/be-active_640.jpg");
  }

  .find_contact > .image_container {
    background-image: url("../images/find-contact_640.jpg");
  }

  .work_it > .image_container {
    background-image: url("../images/work-it_640.jpg");
  }

  .other_header {
    color: #e7e7e7;
    text-transform: uppercase;
    font-family: opensansbold, Arial, Helvetica, sans-serif;
    font-size: 5.8vh;
    font-weight: 700;
    margin-left: 6.56vw;
    margin-top: -5vh;
    margin-bottom: 0;
  }

  .text_other_container {
    font-size: 3vh;
    font-family: opensans, Arial, Helvetica, sans-serif;
    margin-left: 6.56vw;
  }

  .number_other_article_container {
    height: 14.6vh;
    width: 14.6vh;
    position: relative;
    display: flex;
    box-sizing: border-box;
    left: 6.56vw;
    top: -12.1vh;
    background-color: #5e42b0;
    justify-content: center;
    align-items: center;
  }

  .number_other_article {
    color: #f5f6f7;
    font-family: opensansbold, Arial, Helvetica, sans-serif;
    font-size: 2.92vh;
    font-weight: 700;
    margin: 0;
  }

  .number_other_article::after {
    content: "";
    display: block;
    height: 0.8vh;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.4vh;
    opacity: 0.3;
  }

  .footer {
    background-color: #171b3d;
    background-repeat: no-repeat;
    background-image: url("../images/game_767.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
  }

  .footer::after {
    content: "";
    background-color: #212449;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
  }

  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logo_container_footer {
    background-color: #5335a1;
    border-radius: 3.3vh;
    width: 15vh;
    height: 15.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20.6vh;
  }

  .logo_footer {
    fill: #fff;
    padding: 2vh;
    width: 13vh;
  }

  .text_footer {
    text-transform: uppercase;
    font-family: opensansbold Arial, Helvetica, sans-serif;
    text-align: center;
    width: 87.5vw;
  }

  .footer_header {
    color: #fff;
    font-size: 10vw;
    margin: 0;
  }

  .footer_title {
    font-size: 4.4vw;
    margin: 0;
    color: #9b8ec1;
  }

  .download_bottons_footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 18%;
    width: 87.5vw;
    justify-content: space-between;
  }

  .download_botton_footer {
    background-color: #5e42b0;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    font-family: opensans, Arial, Helvetica, sans-serif;
    justify-content: center;
    border-radius: 5vh;
    height: 7.3vh;
    text-decoration: none;
    font-style: normal;
  }

  .title_surface_footer {
    fill: #fff;
    width: 41.6vw;
    margin-bottom: 2.1vh;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .header_page {
    background-image: url("../images/football_1280.jpg");
  }
}
